

<h3 class='text-center'>Tweets</h3>
<div class='container '>
  <% @tweets.each do |tweet|%>
  <div class='col-6 mx-auto text-center bg-light p-2'>
    
    <% if user_signed_in? %>
      <%= tweet.tweet%> <br/>
      <%= link_to 'Show', tweet, class:'btn btn-info text-white btn-sm' %>
      <%= link_to 'Edit', edit_tweet_path(tweet), class:'btn btn-info text-white btn-sm' %>
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger text-white btn-sm' %>
      <br/><br/>
    <%else%>
        <%= tweet.tweet %><br/>
        <%= link_to 'Show', tweet, class:'btn btn-info text-white btn-sm' %>
    <% end %>
  </div>
  <% end %>
</div>
<br/>
<% if user_signed_in? %>
  <div class='col-6 mx-auto text-center'>
    <%= link_to 'Tweet', new_tweet_path, class:'btn btn-info text-white btn-sm'%>
  </div>
<% end %>
